body{
    font-family: Calibri, Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 1.5;
}

.container{
    width: 70%;
    margin: auto;
    background:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color: green;
}

h2{
    background-color: lightgrey;
    padding: 8px;
    border-left: 5px solid green;
}

table{
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,td{
    border:1px solid black;
    padding:8px;
}

th{
    background-color: lightgreen;
}

ul{
    margin-left: 20px;
}
